/* Slideshow container */

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 78, 78);
    
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin-top: 3rem;;
    line-height: 1.5;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    transition: 0.7s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */

#engin{
    background-image: url('../imgs/pexels-athena-2582937 copy.png');
    background-size: cover;
    background-position: center;
    padding: 120px;  
  }
  
  #tele{
    background-image: url('../imgs/pexels-chepté-cormani-1416530 copy.png');
    background-size: cover;
    background-position: center;
    padding: 120px;
  }
  
  #amazon{
    background-image: url('../imgs/pexels-tiger-lily-4481259 copy.png');
    background-size: cover;
    background-position: center;
    padding: 120px;
  }
  
  #cortez{
    background-image: url('../imgs/pexels-cottonbro-7541351 copy.png');
    background-size: cover;
    background-position: center;
    padding: 120px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 1px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }